body {
  /* Hack to get the iframe to respond as you would expect to "height:100%" */
  position:fixed;
  width:100%;
  height:100%;
}

div#header {
  width:100%;
  text-align:center;
  background-color:whitesmoke;
  padding: 1em 0 0.5em 0;
  border-bottom:1px solid #aaa;
}

div#header p {
  /* XXX Undo weird default styles for paragraphs */
  margin-top:0;
}

iframe#guide {
  border:none;
  width:100%;
  height:100%;
}

button#header-close {
  /* Just show the icon */
  background:none;
  border:none;
  color:grey;
  font-size:1.5em;
  float:right;
}
