div#header {
  width:100%;
  text-align:center;
  background-color:whitesmoke;
  padding: 1em 0 0.5em 0;
  border-bottom:1px solid #aaa;
}

div#header p {
  /* XXX Undo weird default styles for paragraphs */
  margin-top:0;
}

iframe#guide {
  display:block; 
  margin:0; 
  padding:0; 
  border:0;
  width:100%;
}

button#header-close {
  /* Just show the icon */
  background:none;
  border:none;
  color:grey;
  font-size:1.5em;
  float:right;
}
